@import "../fonts/mixins";
@import "../fonts/fonts";

.cardContainer {
  width: 454px;
  height: 281px;
  display: flex;
  padding: 10px;
  overflow: hidden;
}

.cardDescriptionWrapper {
  padding: 12px 20px;
  font-family: Sans-Serif;
}