//@import "../fonts/mixins";
//@import "../fonts/fonts";

.cardContainer {
  width: 454px;
  height: 281px;
  display: flex;
  padding: 10px;
}

.cardDescriptionWrapper {
  padding: 12px 20px;
}

.movieItemTitle {
  font-size: 30px;
  line-height: 28px;
  font-weight: 400;
  width: 85%;
}

.averageRating {
  top: 0;
  right: 10px;
  .circle{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #E9D100;
    border-radius: 50px;
    .averageRatingCounter {
      font-size: 12px;
      line-height: 24px;
    }
  }
}
.averageRating{
  .circle-red {
    border-color: #E90000;
  }
}

.averageRating{
  .circle-orange {
    border-color: #E97E00;
  }
}

.averageRating{
  .circle-yellow {
    border-color: #E9D100;
  }
}

.averageRating{
  .circle-green {
    border-color: #66E900;
  }
}

.genresWrapper {
  display: flex;
  flex-wrap: wrap;
}

.releaseDate {
  color: #827E7E;
  font-size: 12px;
  line-height: 22px;
}